{% load static %}
<footer class="footer bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <!-- Quick Links -->
      <div class="col-md-4 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Home</a></li>
          <li><a href="#features" class="text-white">Features</a></li>
          <li><a href="#pricing" class="text-white">Pricing</a></li>
          <li><a href="#contact" class="text-white">Contact Us</a></li>
        </ul>
      </div>
      <!-- Contact Information -->
      <div class="col-md-4 mb-3">
        <h5>Contact Information</h5>
        <p>Information Security Lab, The Islamia Univeristy of Bahawalpur</p>
        <p>Email: info@finsentiments.com</p>
        <p>Phone: +92 300 6999824</p>
      </div>
      <!-- Social Media Icons -->
      <div class="col-md-4 mb-3">
        <h5>Follow Us</h5>
        <a href="#" class="text-white mr-2"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="text-white mr-2"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-white mr-2"><i class="fab fa-linkedin-in"></i></a>
        <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <!-- Footer Bottom -->
    <div class="text-center mt-4">
      <p>&copy; 2024 FinSentiments. All rights reserved.</p>
    </div>
  </div>

<!-- Script dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<!-- Optional: scripts.js for custom scripts -->
<script src="{% static 'js/scripts.js' %}"></script>
</footer>


